:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-result-item {
  transition: background-color 0.2s;
}
.search-result-item:hover {
  background-color: #223356 !important; /* Light Blue highlight on hover */
}
